/**Eléments globaux**/
* {
    list-style: none;
}

a {
    text-decoration: none;
}

/**Panneau des statistiques**/
.dashboard {
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.dashboard .card {
    width: 30%;
    margin: 1%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bootstrap-alert {
    margin: 1% auto;
    width: 50%;
    text-align: center;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 1%;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}



/**Barre de recherche**/
.search-result-h {
    margin: 1%;
    text-align: center;
}

.search-result-h::after {
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    background-color: #ccc;
    margin: 1% auto;
}

/**Affichage de la liste des thèses**/
.these-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/**Thèses en elles même**/
.these-card {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1%;
    padding: 1%;
}

.these-card-title {
    max-width: 75%;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.these-card-title a {
    color: #000;
}

.these-card-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.these-card-header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.these-card-header .these-card-author {
    font-size: 0.8em;
    font-weight: bold;
}

.these-card-header .these-card-date {
    font-size: 0.8em;
    font-weight: bold;
}

.these-card-body {
    margin-left: 0;
    display: flex;
    flex-direction: column;

}

/**Bouton retour en haut**/
#retour {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 5%;
    max-width: fit-content;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: #0d6efd;
    padding: .5px;
    border-radius: 4px;

}

#retour:hover {
    background-color: green;
}


.auth-main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-main h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.auth-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.auth-form input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;

}

@media screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
    }

    .nav-bar * {
        flex-direction: column;
    }

    .these-card {
        font-size: smaller;
    }

    .these-card {
        width: 95%;
    }
}